body{
    color:#212529;
    background: #f5f5f5;
    font-family: 'Product Sans', sans-serif;
}
.logo-mar{margin-left: 100px;}
.login-container {
  /* background-color: #fff; */
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  /* padding: 30px; */
  max-width: 450px;
  width: 90%;
  /* text-align: center; */
  margin: 0px auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  margin-bottom: 10px;
  color: #212529;
}

.login-form p {
  margin-bottom: 10px;
  color: #212529;
  font-size: 15px !important;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.input-group select {
  /* padding: 15px; */
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}
.btn{font-size: 14px;}
.btn-warning{
    color: #0054a5;
    font-weight: 500;
    
}

a{color: #0054a5; font-weight: 500; text-decoration: none;}

/* Responsive */
@media screen and (max-width: 600px) {
  .login-container {
    width: 100%;
    border-radius: 0;
  }
}

.otp-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.otp-input{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.otp-input:focus {
    border-color: #007bff;
}
.nav-link{color:#fff; font-weight: 500;}

.cursor-pointer {
    cursor: pointer;
}
.cartSection {
    border-left: 1.5px solid #4d4d4d;
    height: 20px;
    padding-left: 15px;
}

.testPrice {
  color: #263238 !important;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
  letter-spacing: 0.03em;
  display: flex;
  margin-top: 0;
}
.font-12{font-size: 12px;}
.bg-white{background-color: #fff;}
.p-set{padding:13px 13px 10px 13px;}

/* main page  */
.navbar{background:#05386f}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #97c324;
}
.nav-link:focus, .nav-link:hover {
  color: #97c324;
}
.nav-2 a{color:#05386f; font-weight: 500;}
.bg-blue{background: #05386f; color: #fff; border: 2px solid #fff;}

.blue-text{color: #05386f;}
.font-8{font-size: 8px;}
.btn-success{border:#97c324;}
.bg-gray{background: #455a640f;}
.testName{font-size: 14px; font-weight: 500;}
.netPrice {
  color: #97c324;  
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}
.pretest-info {  
  background-color: #455a640f;
  border-radius: 8px;
  color: #455a64;
  font-size: 14px;
  padding: 8px;
  margin-top: 10px;
}
.btn-primary{background: #004899;font-size: 16px;}
.cartPaymentBox {
  background-color: #455a640f;
  padding: 25px 20px;
  border-radius: 6px;
}
.cartPaymentBox .cartPaymentSection .total-list, .cartPaymentBox .cartPaymentSection .instructions {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-list p{font-size: 14px;}
.gender-block {
  display: flex;
  flex-wrap: wrap;
}
.corp-block:not(:last-child) {
  margin-right: 20px;
}
.corp-block {
  width: 80px;
  height: 60px;
}
.corp-block {
  width: 90px;
  height: 60px;
  padding: 5px 23px 5px 24px;
  border-radius: 10px;
  border: solid 1px #b5b5b5;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.text-gray{color:#4d4d4d;}
.addpatient-container {
  background-color: #fff;
  padding: 30px;
  
}
.bg-img{background: url(../images/family.avif);
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* home */
.text-green{color:#97c324;}
.text-blue{color:#004899;}
.whatsapp{position: absolute;}
.btn-outline-primary{
  border-color: #004899;
  color: #004899;
}
.btn-outline-primary:hover{
  background: #004899;
  
}
.btn-success{background: #97c324;}
.btn-success:hover{background: #8cb623;}
.fw-500{font-weight: 500;}
.aboutline::after{
  content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #004899;
    bottom: 15px;
    left: calc(50% - 160px);
}
.w-15{width:15%;}
.close-m{margin: 0 !important;}
.disabled{color: #818181; opacity: 0.3;
  pointer-events: none;
  cursor: default;}
  .text-bg-primary{background-color:#004899 !important;}
  .form-check-input{width: 1.5em; height: 1.5em; border:1px solid #424242;}
  .upercase{text-transform: uppercase;}
  .blue-border{border: 2px solid #004899 !important;}
  .font-24{font-size: 24px;}
.time-slot{display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-gap: 21px 20px;
  justify-content: center;}
  /* gender */
  .gender{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    color: #bdbdbd;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .gender:hover {
    background-color: #004899 !important;
    color: white !important;
  }
  .gender .active {
    background-color: #004899 !important;
    color: white !important;
  }
  .genactive{
    background-color: #004899 !important;
    color: white !important;
  }
  /* payment */
  .paymentmethod {
    background-color: #cecbcbc7;   
}
.font-16{font-size: 16px;}
.w-65{width: 65%;}
.checkboxblock {
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #b5b5b5;
  width: 35%;
}
.h-66{height:66px;}
.w-80{width:80%;}
.border-primary{border:1px solid #004899;}
.border-radius-50{border-radius: 50px;}
/* tost message */
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
width: 50px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;

  
  background-color: #111;
  color: #fff;
}
#toast #desc{

  
  color: #fff;
 
  padding: 16px;
  
  overflow: hidden;
white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
.card-test{
  border: 2px solid #004899;
}
.card-test:hover{
  border: 2px solid #004899;
  background: #e1f5fe;;
}
.addtocart:hover{background: #013d81 !important;}
.sidenav a:hover{color: #013d81 !important; font-weight:500;}
.bg-success{background: #97c324 !important;}